body {
    font-family: Arial, sans-serif;
    background-color: #f8f1f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    color: #FFB6C1; 
    padding-top: 40px;
}

h2 {
    color: #D87093; 
    text-align: center;
}

button {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF69B4; 
}

button:disabled {
    background-color: #D3D3D3;
    cursor: not-allowed;
}

#clickMessage {
    font-size: 20px;
    color: #FF69B4;
    text-align: center;
}

#timerDisplay, #stopwatchDisplay {
    font-size: 40px;
    font-weight: bold;
    color: #FF69B4;
    text-align: center;
}

.task {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    width: 300px;
    text-align: center; 
}
.cat-back-container {
    position: fixed;
    left: 0; 
    bottom: 0;
    margin-left: 20px; 
    margin-bottom: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cat {
    width: 150px;
    height: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.back-button {
    text-decoration: none;
}

.back-button button {
    background-color: #FFB6C1;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.back-button button:hover {
    background-color: #FF69B4;
    transform: scale(1.1);
}

.back-button button:focus {
    outline: none;
}
